.content {
    min-width: 450px;
    position: relative;
    width: 100%;
    height: 100%;
}

h1, h3, p {
    font-family: 'Open Sans', sans-serif;
}

.img__content {
    background: url(https://damion.club/uploads/posts/2022-09/1663940992_1-damion-club-p-ochen-krasivii-les-priroda-instagram-1.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -8px;
    margin-right: -8px;
}

.info__img {
    margin: 16.5% 0 16.5% 0;
    min-width: 350px;
    width: 70%;
}

.mainText__info {
    padding:  5px 0 10px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 72px;
    text-shadow: 8px 6px 0px rgba(0,0,0,0.7);
    border: 2px solid white;
    border-left: none;
    border-right: none;
    color: white;
    text-align: center;
}

.addedText__info {
    font-size: 36px;
    color: white;
    text-align: center;
}

.center {
    margin: 20px auto 25px auto;
    width: 450px;
    text-align: center;
   padding: 15px;
}

.marginTop {
    margin-top: 100px;
}


.title__p {
    width: 50%;
    margin-left: 50px;
    text-indent: 50px;
}

.feetbacks-item {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.comments__feetback {
    padding: 30px;
    width: 300px;
}

.avatar__comments {
    display: flex;
    justify-content: center;
}

.avatar__comments img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.stock__content {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.sentence__stock {
    border-radius: 30px;
}

.img__sentence {
    width: 100%;
    height: 50%;
}

.img__sentence img {
    height: 200px;
    width: 350px;
    border-radius: 30px;
}

.oisanie__sentence {
    text-align: center;
    padding: 25px;
}

.oisanie__sentence button {
    padding: 5px 10px 5px 10px;
    background-color: #36BBCE;
    border-radius: 25px;
    border: 0;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}


.podpisca {
    display: flex;
    justify-content: center;
}

.form-podpisca {
    width: 350px;
    border: 0;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    padding: 20px;
}

.input-podpisca {
    padding: 10px;
    border: 0;
    border-radius: 25px;
    box-shadow: 0 0  3px rgba(0, 0, 0, 0.3);
    transition: .3s;

    width: 330px;
}




/* .hide {
    opacity: 1;
    animation-name: a1;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}


from and to


@keyframes a1{
    to {
        opacity: 0;
        margin: 0;
        padding: 0;
        border: 0;
    }
} */